<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{%=o.price%} | xmrpri.se</title>
    {% if(o.auto_update && o.auto_update > 0) { %}
       <meta http-equiv="refresh" content="{%=o.auto_update%}">
    {% } %}
    <link rel="stylesheet" href="styles.css" />
    <style>
      #price_holder {
        font-size: {%=o.price_size%}rem;
      }
    </style>
  </head>
  <body>
    <main>
      <details>
        <summary>Preferences</summary>
        <div id="preferences">
          <h4>Preferences</h4>
          <form method="POST" action="/preferences">
            <div class="setting">
              <label for="currency">
                Currency:
                <select id="currency" name="currency">
                  {% for (var key in o.valid_currencies) { %}
              
                     {% if(key === o.currency) { %}
                       <option value="{%=key%}" selected="selected">{%=key.toUpperCase()%}</option>
                     {% } else { %}
                       <option value="{%=key%}">{%=key.toUpperCase()%}</option>
                     {% } %}
                   
                  {% } %}
                </select>
              </label>
            </div>
            <div class="setting">
              <label for="hide_symbol">
                Hide currency symbol:
                {% if(o.symbol == '') { %}
                  <input type="checkbox" name="hide_symbol" id="hide_symbol" checked>
                {% } else { %}
                  <input type="checkbox" name="hide_symbol" id="hide_symbol">
                {% } %}
              </label>
            </div>
            <div class="setting">
              <label for="price_size">
                Price font-size:<br>
                 <small>(default is 5)</small>
                <input type="number" step="1" min="1" max="999" value="{%=o.price_size%}" name="price_size" id="price_size">
              </label>
            </div>
            <div class="setting {% if(o.update_with_js == true) { %} disabled {% } %}" id="pageReload">
              <label for="auto_update">
                Reload page every n seconds:<br>
                 <small>(0 = off)</small>
                <input type="number" step="5" min="0" max="1000" value="{%=o.auto_update%}" name="auto_update" id="auto_update" {% if(o.update_with_js == true) { %} disabled {% } %}>
              </label>
            </div>
            <div class="setting">
              <label for="update_with_js">
                Use JavaScript to update the price:
                {% if(o.update_with_js == true) { %}
                  <input type="checkbox" name="update_with_js" id="update_with_js" checked>
                {% } else { %}
                  <input type="checkbox" name="update_with_js" id="update_with_js">
                {% } %}
              </label>
            </div>
            <small class="notice">Preferences are stored client-side using cookies without any personal information.</small>
            <input type="submit" value="Save preferences">
          </form>
        </div>
      </details>
      <div id="center">
        {% if(o.symbol_place === 0) { %}
          <div id="price_holder">
            <span id="symbol">{%=o.symbol%}</span>
            <span id="price">{%=o.price%}</span>
          </div>
        {% } else { %}
          <div id="price_holder">
            <span id="price">{%=o.price%}</span>
            <span id="symbol">{%=o.symbol%}</span>
          </div>
        {% } %}
      </div>
      <div id="chart">
        <div>
          {% for (var i = 0; i < o.valid_durations_chart.length; i++) { %}
          
             {% if(o.valid_durations_chart[i] === o.chart_duration) { %}
               <a href="?d={%=o.valid_durations_chart[i]%}#chart" class="active">{%=o.valid_durations_chart[i]%}</a>
             {% } else { %}
               <a href="?d={%=o.valid_durations_chart[i]%}#chart">{%=o.valid_durations_chart[i]%}</a>
             {% } %}
          
          {% } %}
        </div>
        <pre>{%=o.chart%}</pre>
      </div>
    </main>
    <footer>
      <p>
        <a href="https://codeberg.org/orenom/xmrprise" target="_blank">https://codeberg.org/orenom/xmrprise</a>
      </p>
    </footer>
    {% if(o.update_with_js == true) { %}
      <script>
        setInterval(() => {
          fetch('/getPrice', { method: 'POST' })
          .then(response => response.json())
          .then(data =>{
            if(data.price) {
              let price = parseFloat(data.price).toFixed(data.decimals)
              let symbol = data.symbol
              document.querySelector('#price').innerText = price
              document.title = `${symbol}${price}`
            }
          })
        }, 5000)
        
        document.querySelector('#pageReload').classList.add('disabled', 'disabled')
        document.querySelector('#auto_update').setAttribute('disabled', 'disabled')
        
        let checkbox = document.querySelector('#update_with_js')
        checkbox.addEventListener('change', togglePageReload, false)
        
        function togglePageReload() {
          if(!checkbox.checked) {
            document.querySelector('#pageReload').classList.remove('disabled')
            document.querySelector('#auto_update').removeAttribute('disabled')
          } else{
            document.querySelector('#pageReload').classList.add('disabled', 'disabled')
            document.querySelector('#auto_update').setAttribute('disabled', 'disabled')
          }
        }
      </script>
    {% } %}
  </body>
</html>
